body {
    text-align: center;
    background-color:rgb(247, 224, 189);
}

.container {
    width: auto;
    margin:auto;
    background-color: rgb(98, 98, 173);
    border: 5px solid rgb(0, 0, 0);
}

.stats {
    background-color: rgb(19, 90, 114);
    margin: auto;
}


.cell {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 1.5em;
}

.cell img {
    width: 15px;
    height: auto
}

.hint, .safe-click, .smiley, .undo, .manual {
    cursor: pointer;
    color: rgba(237, 244, 245, 0.986);
}

.levels {
    background-color: rgb(26, 122, 200);

    margin: auto;
}

label {
    color: rgba(237, 244, 245, 0.986);
}

input {
    cursor: pointer;
}

table {
    margin: auto;
    background-color: lightblue;
}

td {
    border: 0.1px solid black;
    text-align: center;
    margin: 0px;
    cursor: pointer;
}

.clicked {
    background-color: gray
}

.restart {
    left: 0;
    right: 0;
}

.restart button {
    background-color: rgb(51, 87, 206);
    color: white;
    border: 1px solid green;
    font-size: 30px;
    cursor: pointer;
}

.hide {
    display: none
}

.red {
    background-color:rgb(219, 12, 12)
}

h3 {
background-color:rgb(96, 124, 184);
width: 300px;
margin:30px auto;
color: white;
border: 6px dashed rgb(19, 90, 114);
border-radius: 10px;
}